*.o
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.o
*.d
/.vs/PDU/v14/.atsuo
/rtos/RTOS.cproj
/rtos/debug/Makefile
/rtos/debug/RTOS.bin
/rtos/debug/RTOS.elf
/rtos/debug/RTOS.hex
/rtos/debug/RTOS.lss
/rtos/debug/RTOS.map
/rtos/debug/RTOS.srec
/rtos/debug/src/CAN/can_routines.d
/rtos/debug/src/CAN/can_routines.o
/rtos/debug/src/PDU/PDU.d
/rtos/debug/src/PDU/PDU.o
/rtos/debug/src/PDU/PDU_IO.d
/rtos/debug/src/PDU/PDU_IO.o
/rtos/debug/src/PDU/pdu_init.d
/rtos/debug/src/PDU/pdu_init.o
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx.d
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx.o
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx_hal_spi.d
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx_hal_spi.o
/rtos/debug/src/asf/common/services/clock/sam4e/sysclk.d
/rtos/debug/src/asf/common/services/clock/sam4e/sysclk.o
/rtos/debug/src/asf/common/services/delay/sam/cycle_counter.d
/rtos/debug/src/asf/common/services/delay/sam/cycle_counter.o
/rtos/debug/src/asf/common/services/serial/usart_serial.d
/rtos/debug/src/asf/common/services/serial/usart_serial.o
/rtos/debug/src/asf/common/services/sleepmgr/sam/sleepmgr.d
/rtos/debug/src/asf/common/services/sleepmgr/sam/sleepmgr.o
/rtos/debug/src/asf/common/services/spi/sam_spi/spi_master.d
/rtos/debug/src/asf/common/services/spi/sam_spi/spi_master.o
/rtos/debug/src/asf/common/utils/interrupt/interrupt_sam_nvic.d
/rtos/debug/src/asf/common/utils/interrupt/interrupt_sam_nvic.o
/rtos/debug/src/asf/common/utils/stdio/read.d
/rtos/debug/src/asf/common/utils/stdio/read.o
/rtos/debug/src/asf/common/utils/stdio/write.d
/rtos/debug/src/asf/common/utils/stdio/write.o
/rtos/debug/src/asf/sam/boards/sam4e_ek/init.d
/rtos/debug/src/asf/sam/boards/sam4e_ek/init.o
/rtos/debug/src/asf/sam/drivers/afec/afec.d
/rtos/debug/src/asf/sam/drivers/afec/afec.o
/rtos/debug/src/asf/sam/drivers/can/can.d
/rtos/debug/src/asf/sam/drivers/can/can.o
/rtos/debug/src/asf/sam/drivers/pio/pio.d
/rtos/debug/src/asf/sam/drivers/pio/pio.o
/rtos/debug/src/asf/sam/drivers/pio/pio_handler.d
/rtos/debug/src/asf/sam/drivers/pio/pio_handler.o
/rtos/debug/src/asf/sam/drivers/pmc/pmc.d
/rtos/debug/src/asf/sam/drivers/pmc/pmc.o
/rtos/debug/src/asf/sam/drivers/pmc/sleep.d
/rtos/debug/src/asf/sam/drivers/pmc/sleep.o
/rtos/debug/src/asf/sam/drivers/pwm/pwm.d
/rtos/debug/src/asf/sam/drivers/pwm/pwm.o
/rtos/debug/src/asf/sam/drivers/spi/spi.d
/rtos/debug/src/asf/sam/drivers/spi/spi.o
/rtos/debug/src/asf/sam/drivers/tc/tc.d
/rtos/debug/src/asf/sam/drivers/tc/tc.o
/rtos/debug/src/asf/sam/drivers/uart/uart.d
/rtos/debug/src/asf/sam/drivers/uart/uart.o
/rtos/debug/src/asf/sam/drivers/usart/usart.d
/rtos/debug/src/asf/sam/drivers/usart/usart.o
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/exceptions.d
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/exceptions.o
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/gcc/startup_sam4e.d
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/gcc/startup_sam4e.o
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/system_sam4e.d
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/system_sam4e.o
/rtos/debug/src/asf/sam/utils/syscalls/gcc/syscalls.d
/rtos/debug/src/asf/sam/utils/syscalls/gcc/syscalls.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/croutine.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/croutine.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/event_groups.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/event_groups.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/list.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/list.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/GCC/ARM_CM3/port.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/GCC/ARM_CM3/port.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/MemMang/heap_1.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/MemMang/heap_1.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/queue.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/queue.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/stream_buffer.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/stream_buffer.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/tasks.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/tasks.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/timers.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/timers.o
/rtos/debug/src/main.d
/rtos/debug/src/main.o
/GPUCache/index (LAPTOP-2EHS7GK7's conflicted copy 2019-01-22)
/.vs/PDU/v14/.atsuo
/rtos/RTOS.cproj
/rtos/debug/Makefile
/rtos/debug/RTOS.bin
/rtos/debug/RTOS.elf
/rtos/debug/RTOS.hex
/rtos/debug/RTOS.lss
/rtos/debug/RTOS.map
/rtos/debug/RTOS.srec
/rtos/debug/src/CAN/can_routines.d
/rtos/debug/src/CAN/can_routines.o
/rtos/debug/src/PDU/PDU.d
/rtos/debug/src/PDU/PDU.o
/rtos/debug/src/PDU/PDU_IO.d
/rtos/debug/src/PDU/PDU_IO.o
/rtos/debug/src/PDU/pdu_init.d
/rtos/debug/src/PDU/pdu_init.o
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx.d
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx.o
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx_hal_spi.d
/rtos/debug/src/asf/common/components/memory/serial_flash/at25dfx/at25dfx_hal_spi.o
/rtos/debug/src/asf/common/services/clock/sam4e/sysclk.d
/rtos/debug/src/asf/common/services/clock/sam4e/sysclk.o
/rtos/debug/src/asf/common/services/delay/sam/cycle_counter.d
/rtos/debug/src/asf/common/services/delay/sam/cycle_counter.o
/rtos/debug/src/asf/common/services/serial/usart_serial.d
/rtos/debug/src/asf/common/services/serial/usart_serial.o
/rtos/debug/src/asf/common/services/sleepmgr/sam/sleepmgr.d
/rtos/debug/src/asf/common/services/sleepmgr/sam/sleepmgr.o
/rtos/debug/src/asf/common/services/spi/sam_spi/spi_master.d
/rtos/debug/src/asf/common/services/spi/sam_spi/spi_master.o
/rtos/debug/src/asf/common/utils/interrupt/interrupt_sam_nvic.d
/rtos/debug/src/asf/common/utils/interrupt/interrupt_sam_nvic.o
/rtos/debug/src/asf/common/utils/stdio/read.d
/rtos/debug/src/asf/common/utils/stdio/read.o
/rtos/debug/src/asf/common/utils/stdio/write.d
/rtos/debug/src/asf/common/utils/stdio/write.o
/rtos/debug/src/asf/sam/boards/sam4e_ek/init.d
/rtos/debug/src/asf/sam/boards/sam4e_ek/init.o
/rtos/debug/src/asf/sam/drivers/afec/afec.d
/rtos/debug/src/asf/sam/drivers/afec/afec.o
/rtos/debug/src/asf/sam/drivers/can/can.d
/rtos/debug/src/asf/sam/drivers/can/can.o
/rtos/debug/src/asf/sam/drivers/pio/pio.d
/rtos/debug/src/asf/sam/drivers/pio/pio.o
/rtos/debug/src/asf/sam/drivers/pio/pio_handler.d
/rtos/debug/src/asf/sam/drivers/pio/pio_handler.o
/rtos/debug/src/asf/sam/drivers/pmc/pmc.d
/rtos/debug/src/asf/sam/drivers/pmc/pmc.o
/rtos/debug/src/asf/sam/drivers/pmc/sleep.d
/rtos/debug/src/asf/sam/drivers/pmc/sleep.o
/rtos/debug/src/asf/sam/drivers/pwm/pwm.d
/rtos/debug/src/asf/sam/drivers/pwm/pwm.o
/rtos/debug/src/asf/sam/drivers/spi/spi.d
/rtos/debug/src/asf/sam/drivers/spi/spi.o
/rtos/debug/src/asf/sam/drivers/tc/tc.d
/rtos/debug/src/asf/sam/drivers/tc/tc.o
/rtos/debug/src/asf/sam/drivers/uart/uart.d
/rtos/debug/src/asf/sam/drivers/uart/uart.o
/rtos/debug/src/asf/sam/drivers/usart/usart.d
/rtos/debug/src/asf/sam/drivers/usart/usart.o
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/exceptions.d
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/exceptions.o
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/gcc/startup_sam4e.d
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/gcc/startup_sam4e.o
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/system_sam4e.d
/rtos/debug/src/asf/sam/utils/cmsis/sam4e/source/templates/system_sam4e.o
/rtos/debug/src/asf/sam/utils/syscalls/gcc/syscalls.d
/rtos/debug/src/asf/sam/utils/syscalls/gcc/syscalls.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/croutine.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/croutine.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/event_groups.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/event_groups.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/list.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/list.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/GCC/ARM_CM3/port.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/GCC/ARM_CM3/port.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/MemMang/heap_1.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/portable/MemMang/heap_1.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/queue.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/queue.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/stream_buffer.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/stream_buffer.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/tasks.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/tasks.o
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/timers.d
/rtos/debug/src/asf/thirdparty/freertos/freertos-10.0.0/source/timers.o
/rtos/debug/src/main.d
/rtos/debug/src/main.o
